<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar"
        tools:targetApi="31">
        <activity android:name=".controller.assistant.controller_assistant_MenuAsistente"
            android:exported="false"/>
        <activity android:name=".controller.admin.controller_admin_RegistrarEmpleado"
            android:exported="false"/>
        <activity
            android:name=".controller.admin.controller_admin_RegistrarPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_DetallesCitaPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_HistorialCitas"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_EstadoCitas"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_CancelarCitasLayout"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_NotificacionesPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AgendarCitas"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_DetallesCitaPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AjustesCuentaDatos"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AjustesDeCuentaMenu"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_FechaHoraAgendarCita"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AvisoCitaError"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AvisoCitaAgendada"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AvisoComprobarSolicitud"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_CancelarCitaMotivo"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_TerminosCondiciones"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_RegistrarPaciente"
            android:exported="false" />
        <activity
            android:name=".view_General_Login"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_MenuPaciente"
            android:exported="false" />
        <activity
            android:name=".controller_General_PresentacionDos"
            android:exported="false" />
        <activity
            android:name=".controller_General_Presentacion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>