<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ui.patient.CancelarCitas5Layout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.AgendarCitasLayout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.detallesCitaPaciente"
            android:exported="false" />
        <activity
            android:name=".ui.patient.ajustesCuentaDatosLayout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.AjustesDeCuentaMenuLayout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.fechaHoraAgendarCitaLayout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.registrarPacienteLayout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.loginLayout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.menuPacienteLayout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.presentacionDosLayout"
            android:exported="false" />
        <activity
            android:name=".ui.patient.presentacionLayout"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>