<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logoapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".controller.admin.controller_admin_listaPacientes"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_listarEmpleados"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_menuReportes"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_menuUsuario"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_menuEmpleados"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_detallesPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_ajustesDatos"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_ajustesMenu"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_TerminosCondiciones"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_terminoscondiciones"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_listarCitas"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_detallesPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_buscarPacienteLista"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_menuAdmin"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_listarCitasPorCancelar"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_ajustesMenuDatos"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_TerminosCondiciones"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_ajustesMenu"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AvisoCitaReagendada"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_reagendar_citas_horaDia"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_ReagendarCitas"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_listarCitasActivas"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_registrarPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_menuCitas"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_menuPacientes"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_notificaciones"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_listaPacientes"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_notificaciones_lista"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_menu_doctor"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_historial_citas"
            android:exported="false" />
        <activity
            android:name=".controller.doctor.controller_doctor_detalles_cita_paciente"
            android:exported="false" />
        <activity
            android:name=".controller.assistant.controller_assistant_MenuAsistente"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_RegistrarEmpleado"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_RegistrarPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_DetallesCitaPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.admin.controller_admin_HistorialCitas"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_EstadoCitas"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_HistorialCitasLayout"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_NotificacionesPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AgendarCitas"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_DetallesCitaPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AjustesCuentaDatos"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AjustesDeCuentaMenu"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_FechaHoraAgendarCita"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AvisoCitaError"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AvisoCitaAgendada"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_AvisoComprobarSolicitud"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_CancelarCitaMotivo"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_TerminosCondiciones"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_RegistrarPaciente"
            android:exported="false" />
        <activity
            android:name=".general.controller_General_Login"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_MenuPaciente"
            android:exported="false" />
        <activity
            android:name=".controller.patient.controller_patient_OpcionesCitas"
            android:exported="false" />
        <activity
            android:name=".general.controller_General_PresentacionDos"
            android:exported="false" />
        <activity
            android:name=".general.controller_General_Presentacion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>